includes:
		- extension.neon

parameters:
	ignoreErrors:
		-
			message: '#no value type specified in iterable type array#'
			paths:
			    - src/AdvisoryLocks.php
			    - src/Contracts/LockConflictException.php
			    - src/Selector.php
			    - tests/*.php

