<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" backupGlobals="false" bootstrap="vendor/autoload.php" colors="true" processIsolation="false" stopOnFailure="false" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.0/phpunit.xsd" cacheDirectory=".phpunit.cache" backupStaticProperties="false">
    <coverage>
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </coverage>
    <testsuites>
        <testsuite name="Package Test Suite">
            <directory suffix="Test.php">./tests/</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="PG_HOST" value="postgres"/>
        <env name="PG_PORT" value="5432"/>
        <env name="MY_HOST" value="mysql"/>
        <env name="MY_PORT" value="3306"/>
        <env name="MA_HOST" value="mariadb"/>
        <env name="MA_PORT" value="3306"/>
    </php>
</phpunit>
